
<section>
<form action="/activities/create" method="POST" enctype="multipart/form-data">
<fieldset>
  <legend>Create a new Activity</legend>
  
  <label>
    Title:
    <input type="text" name="title" required />
  </label>

 <label>Upload an Image: 
    <input type="file" name="imageFile" class="form-control-file" required/>
 </label> 


  <label> Description:
    <textarea type="text" name="description" cols="30" rows="4"> </textarea>
  </label>

  <label>Organised by Agency:
    <select name="agency">
      {{#each agencies}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </label>


  <label>
    Location:
    <input type="text" name="location" />
  </label>

  <label>
    Difficulty:
    <input type="text" name="difficulty" />
  </label>

  <label>
    Rating:
    <input type="number" name="rating" min="1" max="10" />
  </label>

  <label>
    Price:
    <input type="number" name="price" min="1" max="1000" />
  </label>

  <button type="submit"> Create this new activity!</button>
</form>
</section>