body {
  padding: 50px;
  font-family: "Lobster", cursive;
  font-family: "Tapestry", cursive;
}

a {
  color: #00b7ff;
}

h1 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #ff8e00;
}
#main {
  border-bottom: 8px solid var(--decorative-guiding-red);
  height: 520px;
  margin-bottom: 20px;
  padding: 15px 10px;
  position: relative;
}

#homePage {
  width: 1000px;
  height: 450px;
}

form {
  display: block;
  margin: 1rem auto;
}

input,
textarea,
select {
  display: block;
  margin: 0.5rem 0 1rem;
}

nav {
  text-align: end;
  font-size: 16px;
}

header form {
  display: inline-block;
}

.header {
  text-align: start;
}

.warning {
  border: 1px solid rgb(167, 111, 9);
  background-color: rgb(235, 212, 170);
  padding: 1rem;
}
