<h2>Create an Agency</h2>

<form action="/agency-create" method="POST">

  <label>
    Name:
    <input type="text" name="name" required />
  </label>
  <br />
  <label>Enter your email:
    <input type="email" name="email" , required />
  </label>
  <br />
  <label>Password:
    <input type="password" name="password" required />
  </label>
  <br />
  <label>
    Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>
  <br />
  <label>
    Location:
    <textarea name="location"> </textarea>
  </label>
  <br />
  <label>
    Rate:
    <input type="number" name="rating" min="1" max="10" />
  </label>
  <br />
  <button type="submit"> Create your agency!</button>
  <br />
  <hr>

    <button><a href="/activities/create">Create an Activity</a>  </button>
</form>